<footer 
    id = "footer"
    class="w-full bg-[#161718] py-10 pl-20 pr-4 text-[#afb7bd]">
    <div class="mb-14 mr-24 flex flex-col items-center justify-center">
      <img
        src="https://github.com/Atanasova20/50-Shades-of-Taste/blob/main/Screenshot_2025-02-15_091543-removebg-preview.png?raw=true"
        alt="Logo"
        class="logo"
      />
      <p class="mt-2 text-sm">
        © 2025 50 Shades Of Taste. All rights reserved.
      </p>
      <p class="mt-2 text-sm">Privacy Policy | Terms & Conditions</p>
    </div>
    <div class="">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
        <!-- Колона 1 -->
        <div>
          <h4 class="relative mb-6 pb-2 font-medium text-[#afb7bd]">
            Company
            <span
              class="absolute bottom-0 left-0 h-1 w-32 bg-[#98f4fa]"
            ></span>
          </h4>
          <ul class="space-y-4 text-base text-[#afb7bd]">
            <li>
              <a
                href="index.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Home</a
              >
            </li>
            <li>
              <a
                href="menu.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Menu</a
              >
            </li>
            <li>
              <a
                href="bar.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Bar</a
              >
            </li>
            <li>
              <a
                href="about.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >About us</a
              >
            </li>
            <li>
              <a
                href="contacts.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Contact us</a
              >
            </li>
          </ul>
        </div>

        <!-- Колона 2 -->
        <div>
          <h4 class="relative mb-6 pb-2 font-medium text-[#afb7bd]">
            Reservations
            <span
              class="absolute bottom-0 left-0 h-1 w-32 bg-[#98f4fa]"
            ></span>
          </h4>
          <ul class="space-y-4 text-base text-[#afb7bd]">
            <li>
              <a
                href="tel:+359867782"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Call: +359 867 782</a
              >
            </li>
            <li>
              <a
                href="mailto:reservations@50shadesoftaste.com"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >✉ Email Us</a
              >
            </li>
            <li>
              <a
                href="/reservations.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Book Online</a
              >
            </li>
            <p class="text-[#98f4fa]">Opening Hours:</p>
            <p class="text-sm font-normal">Mon - Fri: 10:00 AM - 11:00 PM</p>
            <p class="text-sm font-normal">Sat - Sun: 12:00 PM - 12:00 AM</p>
          </ul>
        </div>

        <!-- Колона 3 -->
        <div>
          <h4 class="relative mb-6 pb-2 font-medium text-[#afb7bd]">
            Special Offers & Events
            <span
              class="absolute bottom-0 left-0 h-1 w-52 bg-[#98f4fa]"
            ></span>
          </h4>
          <ul class="space-y-4 text-base text-[#afb7bd]">
            <li>
              <a
                href="/events.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Live Music Nights</a
              >
            </li>
            <li>
              <a
                href="/happy-hour.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Happy Hour Deals</a
              >
            </li>
            <li>
              <a
                href="/wine-tasting.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Wine Tasting Events</a
              >
            </li>
            <li>
              <a
                href="/private-dining.html"
                class="transition-all hover:pl-2 hover:text-[#98f4fa]"
                >Private Dining</a
              >
            </li>
          </ul>
        </div>

        <!-- Колона 4 -->
        <div>
          <h4 class="relative mb-6 pb-2 font-medium text-[#afb7bd]">
            Contact Information
            <span
              class="absolute bottom-0 left-0 h-1 w-72 bg-[#98f4fa]"
            ></span>
          </h4>
          <p class="text-base font-normal">
            <span class="text-[#98f4fa]">Phone:</span> +359 867 782<br />
            <span class="text-[#98f4fa]">Email:</span>
            reservations@50shadesoftaste.com <br />
            <span class="text-[#98f4fa]">Address:</span> Perla Street 10, St.
            St. Constantine and Helena, Varna, Bulgaria
          </p>
          <div class="mb-2 mt-4 flex space-x-4">
            <a
              href="https://facebook.com"
              target="_blank"
              class="text-[#afb7bd] hover:text-[#98f4fa]"
            >
              <i class="fa fa-facebook"></i>
            </a>
            <a
              href="https://instagram.com"
              target="_blank"
              class="text-[#afb7bd] hover:text-[#98f4fa]"
            >
              <i class="fa fa-instagram"></i>
            </a>
            <a
              href="https://twitter.com"
              target="_blank"
              class="text-[#afb7bd] hover:text-[#98f4fa]"
            >
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d49628.20859892541!2d27.97872840947112!3d43.22620962836082!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a45643f6a328a5%3A0xa00a014cd0f88f0!2z0KHQsi7RgdCyLiDQmtC-0L3RgdGC0LDQvdGC0LjQvSDQuCDQldC70LXQvdCw!5e1!3m2!1sbg!2sbg!4v1739796914648!5m2!1sbg!2sbg"
            width="300"
            height="150"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
      </div>
    </div>
  </footer>