<header
      id="header"   
      class="sticky top-0 z-50 bg-transparent px-20 text-lg shadow-lg transition-all duration-300"
    >
      <div class="mx-auto flex items-center justify-between px-6 py-2">
        <img
          src="https://github.com/Atanasova20/50-Shades-of-Taste/blob/main/Screenshot_2025-02-15_091543-removebg-preview.png?raw=true"
          alt="Logo"
          class="logo"
        />
        <nav>
          <ul class="flex space-x-10">
            <li>
              <a
                href="index.html"
                class="p-3 transition-all duration-500 hover:bg-[#2a2c2e] hover:text-[#98f4fa]"
                >Home</a
              >
            </li>
            <li>
              <a
                href="menu.html"
                class="p-3 transition-all duration-500 hover:bg-[#2a2c2e] hover:text-[#98f4fa]"
                >Menu</a
              >
            </li>
            <li>
              <a
                href="bar.html"
                class="p-3 transition-all duration-500 hover:bg-[#2a2c2e] hover:text-[#98f4fa]"
                >Bar</a
              >
            </li>
            <li>
              <a
                href="about.html"
                class="p-3 transition-all duration-500 hover:bg-[#2a2c2e] hover:text-[#98f4fa]"
                >About us</a
              >
            </li>
            <li>
              <a
                href="contacts.html"
                class="p-3 transition-all duration-500 hover:bg-[#2a2c2e] hover:text-[#98f4fa]"
                >Contact us</a
              >
            </li>
          </ul>
        </nav>
        <div>
          <button href="" class="reservation-btn">
            Reservations: +359 867 782
          </button>
        </div>
      </div>
    </header>